<div class="container mx-auto max-w-4xl">
  <h1 class="h2 mt-6 text-center"><%= t(".title") %></h1>
  <p class="mt-2 text-center text-xl text-gray-700 dark:text-gray-300/75"><%= t(".description", name: Jumpstart.config.application_name) %></p>

  <div class="mt-6 flex flex-col rounded-lg divide-y divide-gray-200 bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-700 dark:divide-gray-700">
    <%= render @announcements %>

    <% if @announcements.empty? %>
      <div class="p-4 lg:p-10"><%= t(".empty_placeholder") %></div>
    <% end %>
  </div>

  <% if @pagy.pages > 1 %>
    <div class="text-center mt-8">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
