<%= content_for :title, @script.title %>
<%= turbo_stream_from @script %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Scripts", scripts_path, class: "text-black dark:text-white" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      <%= @script.title %>
    </h1>
    <%= link_to t("edit"), edit_script_path(@script), class: "btn btn-white" %>
  </div>

  <div class="p-8 bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded shadow">
    <%= render @script %>
  </div>
</div>
