<div class="flex flex-wrap my-4 lg:px-4">
  <div class="lg:w-1/4 w-full p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>

  <div class="lg:w-3/4 w-full p-4">
    <div class="lg:p-10 p-4 bg-white rounded-lg border border-gray-300 dark:bg-gray-900 dark:border-gray-700">
      <h2 class="mb-2"><%= t(".title") %></h2>
      <p><%= t(".description") %></p>
      <div class="my-2 flex flex-wrap gap-x-4 gap-y-2">
        <% Devise.omniauth_configs.each do |provider, config| %>
          <%= button_to omniauth_authorize_path(:user, provider), class: "btn btn-#{provider}", data: { turbo: false, disable_with: t(".redirecting") } do %>
            <%= social_icon provider, class: "mr-2" %>
            <%= t("shared.oauth.#{provider}") %>
          <% end %>
        <% end %>
      </div>
      <div class="divide-y">
        <%= render @connected_accounts %>
      </div>
    </div>
  </div>
</div>
