<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<div class="field-unit__field" data-controller="array-field">
  <% Array.wrap(f.object.send(field.attribute)).each do |item| %>
    <div class="row">
      <%= text_field_tag "#{f.object_name}[#{field.attribute}][]", item %>
      <%= link_to "Remove", "#", data: { action: "array-field#remove" } %>
    </div>
  <% end %>

  <%= link_to "Add", "#", data: { action: "array-field#add" } %>

  <template data-array-field-target="template">
    <div class="row">
      <%= text_field_tag "#{f.object_name}[#{field.attribute}][]" %>
      <%= link_to "Remove", "#", data: { action: "array-field#remove" } %>
    </div>
  </template>
</div>
